<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to CellOmics</h1>
        <p class="lead">Pioneering in customized biological cells for research and therapeutic applications.</p>
    </div>
</div>

<div class="container">
    <h3>About Us</h3>
    <p>CellOmics is a cutting-edge biotechnology company specializing in the sale of customized biological cells for
        research and therapeutic applications. We focus on advanced cellular technologies and omics-based approaches to
        meet the diverse needs of researchers and pharmaceutical companies worldwide.</p>

    <h3>Featured Products</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="./../../../assets/img/primary_cell_cultures.webp" class="card-img-top img-fluid"
                    alt="Primary Cell Cultures" style="object-fit: contain; height: 300px;">
                <div class="card-body">
                    <h5 class="card-title">Primary Cell Cultures</h5>
                    <p class="card-text">
                        Our Primary Cell Cultures are sourced from various tissues and organs, ensuring purity,
                        viability, and functionality for your biomedical research needs.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./../../../assets/img/cell_lines.webp" class="card-img-top img-fluid" alt="Cell Lines"
                    style="object-fit: contain; height: 300px;">
                <div class="card-body">
                    <h5 class="card-title">Cell Lines</h5>
                    <p class="card-text">
                        Explore our Cell Lines, including cancer, immortalized, and reporter cell lines, available with
                        various genetic modifications for biomedical research.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="./../../../assets/img/custom_cell_engineering.webp" class="card-img-top img-fluid"
                    alt="Custom Cell Engineering" style="object-fit: contain; height: 300px;">
                <div class="card-body">
                    <h5 class="card-title">Custom Cell Engineering</h5>
                    <p class="card-text">
                        Tailor-made Custom Cell Engineering services, including gene editing and CRISPR/Cas9 genome
                        engineering, to create novel cell models for your research.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <br>
        <!-- Redirect to the contact form -->
        <button class="btn btn-primary" (click)="onClick()">Contact Us</button>


</div>
