<div class="container">
    <h3 class="title form ">Login</h3>
    <form class="form" [formGroup]="myForm" (ngSubmit)="submit()">
        <p>Username:
            <input class="form-control" type="text" formControlName="username">
            <span class="red-font" *ngIf="this.myForm.get('username')?.errors?.['required'] && 
                                            this.myForm.get('username')?.touched">
                *
            </span>
        </p>

        <p>Password:
            <input type="password" class="form-control" formControlName="password">
            <span class="red-font" *ngIf="this.myForm.get('password')?.errors?.['required'] && 
                                            this.myForm.get('email')?.touched">
                * Write the password
            </span>
        </p>

        <button class="btn btn-primary" [disabled]="myForm.invalid" type="submit"> Send </button>
    </form>
    <div class="green-font">
        {{result}}
    </div>
    <div>
        {{name}}
    </div>
</div>